//========================================================================// 
	                                                                     //
		// _768.scss                		                            //     768
	                                                                   //
//====================================================================//

// //-------------------------------------------------| Global Header *
// .gHeader {
// 	height: 200px;
// }


//==================================================================
//	About Page
//==================================================================

// Wraps the coy within the teachers section
.teaCopyWrap {
	display: block;
	float: right;
	width: 50%;
}

