//======================================================================// 
                                                                       //
     // _page.scss              		                           
		                                                     		 //-----[ Page
//==================================================================//

   
       
/*  
    
    This file defines page specific elements ( home | about | classes ) ect.

*/




//==================================================================
//	Home Page
//==================================================================



//-------------------------------------------------| Tout Wraps
// tout wrap spec on the index page
.iToutWrap {
	display: block;
	float: left;
	width: 100%;
}

// all section in wrap are 100% in height
.iToutWrap section {
	height: 100%;
}




//-------------------------------------------------| About Tout
.aboutTout {
	float: left;

	background-color: $wire1;
}




//-------------------------------------------------| Classes Tout
.classesTout {
	float: left;

	background-color: $wire2;
}



//-------------------------------------------------| Finder Tout
.finderTout {
	float: left;

	background-color: $wire3;
}



//-------------------------------------------------| Newsletter Tout
.newsletterTout {
	float: left;
	height: 90px;
	padding: 1% 3% 3% 3%;

	background-color: $wire4;
}



//-------------------------------------------------| Adult/Kid Yoga
// yoga for section
.yogaFor {
	float: left;
	min-height: 350px;
}

// yoga for adults
.adultYoga {

	background-color: $wire1;
}

// yoga for kids
.kidYoga {

	background-color: $wire2;
}



//-------------------------------------------------| Pub section
// published material wrap ( Snapguide / blog )
.iPub {
	float: left;
	height: 500px;
	background-color: $wire3;
}

// sections in pub wrap
.iPub section {
	float: left;
	width: 100%;
	height: 100%;

	background-color: $white;
}

// div inside of iPub used to create padding
.iPubPad {
	float: left;
	height: 100%;
	padding: 4%;

}



//-------------------------------------------------| Instagram Wrap
// wraps all instagram images
.iGram {
	float: left;
	overflow: hidden;
	height: auto;
	max-height: 338px;
	background-color: $wire1;
	margin: 0 0 40px 0;
}

// insagram images 
.iGram img{
	float: left;
	width: 14.2857143%; // width 100% divided by number images in each row (7)   |   100 / 7 = 14.2857143% 
	max-height: 169px;
}


//==================================================================
//	About Page
//==================================================================

//-------------------------------------------------| Teachers Section

// teachers wrap | this wraps all teachers
.tea {
	display: block;
	float: left;

	position: relative;
	background-color: $wire1;
}

//-------------------------------------------------| Teachers Section Picture Nav

// navagation to chnage images in teachers section
.teaPicNav {
	display: block;
	width: 100px;
	height: 50px;
	overflow: visible;

	position: absolute;

 	bottom: 20px;
	left: 5%;
	z-index: 1;

}

// popup that displays for a couple seconds then dissapears. Also appears on hover
.popUp {
	display: none;
	width: 150px;

	position: absolute;
	top: -50px;
	left: -15px;

	color: $white;
	text-align: center;
	line-height: 16px;

	background-color: $wire4;

}

// show popup on hover
.teaPicNav:hover .popUp {
	display: block;
}

// left and right arrows to toggle through favorite yoga poses of the teachers
.teaPicNav a {
	display: block;
	float: left;
	width: 50%;
}

// on hover no text decoration
.teaPicNav a:hover {
	text-decoration: none;
}

// icons
.teaPicNav a i {
	display: block;
	float: left;
	width: 100%;
	padding: 8px;

	text-align: center;
	font-size: 3em;
}

//-------------------------------------------------| Teachers Section Title

// About tout wraps all the teacher sections
.aboutTout {
	display: block;
	float: left
}

// About tout teacher title
.aboutTout h2 {
	display: block;
	float: left;
	width: 100%;
	height: 100px;
	padding: 0;
	margin: -30px 0 0 0;

	text-align: center;
}

// second line of the learn about our teachers title
.aboutTout h2 span {
	display: block;
	float: left;
	width: 100%;

	text-transform: uppercase;
	font-size: 2em;
}

//-------------------------------------------------| Teachers Section Nav

// nav for the teachers section
.teaLinks {
	display: block;
	float: left;
	width: 100%;

	background-color: $b;
}

// nav for the teachers section
.teaLinks ul {
	display: block;
	width: 100%;
	height: 50px;
	margin: 0 auto;

	background-color: $white;
}

// teachers links list items
.teaLinks li {
	display: block;
	float: left;
	width: 25%;
	height: 100%;
}

// actual teachers links <a> tags
.teaLinks a {
	width: 100%;
	height: 100%;
	padding: 12px 0;

	text-align: center;

	border-left: 1px solid #ccc;
}

// disable text decoration on hover
.teaLinks a:hover {
	text-decoration: none;
}

// !!!EDIT first childs border needs to be taken away via the : first-child selector

//-------------------------------------------------| Teachers Inner Section 

// teacher wrap | wraps all the teachers that you can toggle trough
.teaWrap {
	display: block;
	float: left;

	position: relative;
}

//-------------------------------------------------| About Instagram Section 

// about instagram feed from root downs feed
.aboutGram {
	display: block;
	float: left;
	width: 100%;
	padding: 5%;

	background-color: $white;
}

// about instagram header
.aboutGram h2 {
	display: block;
	float: left;
}

// about social icons 
.aboutSocial {
	display: block; 
	float: right;
	width: 200px;

	overflow: hidden;

}

// socail icons list items
.aboutSocial a {
	display: block;
	float: left;
	width: 25%;
}

// disable hover text decoration
.aboutSocial a:hover {
	text-decoration: none;
}

// icons within the list items a tags
.aboutSocial i {
	display: block;
	width: 100%;
	text-align: right;
}

//==================================================================
//	Classes Page
//==================================================================

// Wraps all indivisual classes
.classWrap {
	display: block;
	float: left;
	padding: 5%;
}

// Two called out Yoga Type Classes at the bottom of the classes page
.yogaType {
	display: block;
	float: left;
	padding: 5%;

	// !!!EDIT REMOVE AFTER WIREFRAMES ARE COMPLETE
	margin: 20px 0;
}




//==================================================================
//	Contact Page
//==================================================================

// section that wraps the google map | created to position realative 
.map {
	display: block;
	float: left;
	position: relative;
}

// Contact info inside the map header
.heroContact {
	display: block;
	width: 350px;
	height: 150px;
	overflow: hidden;

	position: absolute;
	top: 120px;
	right: 0px;
	z-index:1;

	background-color: $white;
}

// Goggle Map containter
.mapWrap {
    position: relative;
    //padding-bottom: 56.25%;
    padding-top: 30px;
    height: 330px !important;
    height: 0;
    max-height: 330px !important;
    overflow: hidden;
}

.mapWrap iframe,   
.mapWrap object,  
.mapWrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 330px;
}

// Display & Box Model
// Positioning
// Type 
// Other