//========================================================================// 
	                                                                     //
		// _tables.scss                		                            //     TABLES
	                                                                   //
//====================================================================//




//=====//=====//   Tables   //=====//=====//


table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $baselineheight;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: $tablebackground;

	th, td {
		vertical-align:top;
		border-top:$tableborderwidth $tableborderstyle $tableborder;
		@include font-size(14);
		line-height:$baselineheight;
	}

	th {font-weight:bold;}

	thead th {vertical-align:bottom;}

	colgroup + thead tr:first-child th,
	colgroup + thead tr:first-child td,
	thead:first-child tr:first-child th,
	thead:first-child tr:first-child td {
	border-top : 0; }

	tbody + tbody { border-top : $tableborderwidth * 2 $tableborderstyle $tableborder; }
}


// Bordered 

.table-bordered {
	border : $tableborderwidth $tableborderstyle $tableborder;
	border-left : 0;
	border-collapse : separate;
	*border-collapse : collapsed;

th, td {border-left : $tableborderwidth $tableborderstyle $tableborder;}

thead:first-child tr:first-child th,
tbody:first-child tr:first-child th,
tbody:first-child tr:first-child td {
border-top : 0; }
}


// Striped 

.table-striped { 
	tbody tr:nth-child(odd) td,
	tbody tr:nth-child(odd) th {
	background-color : $tablestripe;}
}



