/*
	-------------------------------------------------- 
	* gWrap | pageWrap | pagePush
	-------------------------------------------------- 

	1  | gWrap > center wrap element
	
	2  | pageWrap > full body wrap

	3  | pagePush > pushes the site to the right when mobile nav is open
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\0000325}}
.gWrap,
.pageWrap,
.pagePush {
  height: 120%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\0000330}}
.gWrap {
  display: block;
  background-color: #e1e1e1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\0000340}}
.gWrap,
.gWrapInner {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\0000346}}
.pageWrap {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\0000353}}
.pagePush {
  height: 120%;
  position: relative;
  left: 0;
  z-index: 99;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\0000364}}
.pagePush::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\0000381}}
.mMenuOpen .pagePush::after {
  width: 100%;
  height: 120%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\0000392}}
.mNav {
  width: 250px;
  height: 120%;
  visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #ccc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\00003107}}
.mNav::after {
  content: '';
  width: 100%;
  height: 120%;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\00003125}}
.mMenuOpen .mNav::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\00003136}}
.mNav h2 {
  padding: 1em;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\00003147}}
.mNav ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  font-weight: 400;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\00003165}}
.mNav ul li a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\00003173}}
.mMenuSlide.mMenuOpen .pagePush {
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\00003179}}
.mMenuSlide.mNav {
  z-index: 1;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\00003187}}
.mMenuSlide.mMenuOpen .mMenuSlide.mNav {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/VinYoga\/scss\/_menu\.scss}line{font-family:\00003198}}
.no-csstransforms3d .pagePush,
.no-js .pagePush {
  padding-left: 250px; }
